.dashboard {
  border: 0px solid red;
  display: grid;
  height: 100vh;
  gap: 12px;
  grid-template-columns: 1fr 2fr 1fr;
  grid-template-rows: auto 1fr;
  grid-row: 1 / 3;
}
.dashboard > .sidebar {
  border: 0px solid green;
  grid-column: 1 / 1;
  grid-row: 1 / 3;
}
.dashboard > .sidebar .MuiPaper-root {
  border: 0px solid red;
  width: 100%;
}
.dashboard > .Appbar {
  border: 0px solid orange;
  grid-column: 2 / 4;
}
.dashboard > .main-content {
  border: 0px solid blue;
  display: grid;
  height: 100%;
  gap: 12px;
  grid-template-columns: 1fr 2fr 1fr;
  grid-template-rows: auto auto auto;
  grid-column: 2 / 4;
  grid-row: 2 / 3;
}
.dashboard > .main-content > .user-header {
  border: 0px solid red;
  grid-column: 1 / 3;
}
.dashboard > .main-content > .user-profile {
  border: 0px solid green;
  grid-column: 1 / 1;
  grid-row: 2 / 2;
}
.dashboard > .main-content > .user-photos {
  border: 0px solid lime;
//  grid-column: 1 / 1;
  grid-row: 3 ;
}
.dashboard > .main-content > .user-feed {
  border: 0px solid cyan;
  grid-column: 2 / 3;
  grid-row: 2 / 4;
}
.dashboard > .main-content > .user-recommendations {
  border: 0px solid orange;
//  grid-column: 1 / 3;
  grid-row: 1 / 4;
}

.dashboard > .main-content > .user-feed .user-post {
  border: 0px solid red;
}
.dashboard > .main-content .MuiCard-root {
  border: 0px solid green;
  width: 100%;
  margin-bottom: 8px;
  max-width: initial;
}
